.container {
  position: relative;
  padding-left: 500px;
}

.container > img {
  position: absolute;
}

.transition-slide-right-enter {
  transform: translate(500%);
}

.transition-slide-right-enter.transition-slide-right-enter-active {
  transform: translate(0%);
  transition: transform 700ms ease-in-out;
}

.transition-slide-right-leave {
  transform: translate(0%);
}

.transition-slide-right-leave.transition-slide-right-leave-active {
  transition: transform 700ms ease-in-out;
  transform: translate(-500%);
}

.transition-slide-left-enter {
  transform: translate(-500%);
}

.transition-slide-left-enter.transition-slide-left-enter-active {
  transform: translate(0%);
  transition: transform 700ms ease-in-out;
}

.transition-slide-left-leave {
  transform: translate(0%);
}

.transition-slide-left-leave.transition-slide-left-leave-active {
  transition: transform 700ms ease-in-out;
  transform: translate(500%);
}
